Repository Logic06183/ENBEL_pp: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-random-seeds, validate-config, validate-data-schemas

check-random-seeds:
  name: Check random seeds are set
  entry: python scripts/check_random_seeds.py
  language: system

validate-config:
  name: Validate YAML configurations
  entry: python scripts/validate_configs.py
  language: system

validate-data-schemas:
  name: Validate data schemas
  entry: python scripts/validate_data_schemas.py
  language: system

sliding
  create_beautiful_shap_presentation.py
  create_clean_native_plots.py
  create_clean_shap_presentation.py
  create_fixed_shap_plots.py
  create_high_performance_shap_analysis.py
  create_native_dlnm_analysis.R
  create_native_shap_analysis.py
  create_simple_dlnm_curves.py
  create_simple_dlnm_final.R
  create_working_dlnm_analysis.R
  presentation_slides_final/enbel_dlnm_classic_final.png
  presentation_slides_final/enbel_dlnm_classic_final.svg
  presentation_slides_final/enbel_dlnm_native_final.svg
  presentation_slides_final/enbel_dlnm_working_final.svg
Due: check-random-seeds

grooving
  presentation_slides_final/analyze_physiological_systems.py
  presentation_slides_final/create_distinct_data_types_map.py
  presentation_slides_final/create_significant_findings_slide.py
  presentation_slides_final/create_styled_overview_exact_match.py
  presentation_slides_final/create_updated_dataset_overview_slide.py
  presentation_slides_final/enbel_corrected_locations_map.pdf
  presentation_slides_final/enbel_corrected_locations_map.png
  presentation_slides_final/enbel_corrected_locations_map.svg
  presentation_slides_final/enbel_distinct_data_types_map.svg
  presentation_slides_final/enbel_editable_text_overview.svg
  presentation_slides_final/enbel_enhanced_final_map.pdf
  presentation_slides_final/enbel_enhanced_final_map.png
  presentation_slides_final/enbel_figma_compatible.svg
  presentation_slides_final/enbel_final_scientific_map.pdf
  presentation_slides_final/enbel_final_scientific_map.png
  presentation_slides_final/enbel_final_scientific_map.svg
  presentation_slides_final/enbel_proper_shapefile_map.pdf
  presentation_slides_final/enbel_proper_shapefile_map.png
  presentation_slides_final/enbel_styled_overview_exact_match.png
  presentation_slides_final/enbel_styled_overview_exact_match.svg
  presentation_slides_final/enbel_updated_dataset_overview_final.png
  presentation_slides_final/enbel_updated_dataset_overview_final.svg
  presentation_slides_final/find_meaningful_climate_effects.py
  presentation_slides_final/meaningful_climate_effects.png
  presentation_slides_final/physiological_systems_analysis.png
  presentation_slides_final/significant_findings_figma.svg
  presentation_slides_final/significant_physiological_findings.png
Due: check-random-seeds

gyrate
  create_three_pathway_shap.py
  generate_presentation_outputs.py
  presentation_slides_final/analyze_with_hot_days.py
  presentation_slides_final/examine_temperature_data.py
  presentation_slides_final/real_climate_effects.png
  presentation_slides_final/real_climate_effects_analysis.py
  presentation_slides_final/real_climate_effects_figma.svg
  presentation_slides_final/real_hot_days_effects_figma.svg
  presentation_slides_final/verify_real_data.py
  reanalysis_outputs/PRESENTATION_OUTPUTS_SUMMARY.md
  reanalysis_outputs/figures_svg/colour_palette.json
  reanalysis_outputs/figures_svg/presentation_ready/shap_three_pathways.png
  reanalysis_outputs/figures_svg/presentation_ready/shap_three_pathways.svg
  reanalysis_outputs/presentation_statistics/acronym_replacements.json
  reanalysis_outputs/presentation_statistics/slide_data.json
  reanalysis_outputs/validation/comparison_checks.json
  reanalysis_outputs/validation/completion_checklist.json
  reanalysis_outputs/validation/quality_checks.json
Due: check-random-seeds

more mapping
  generate_real_shap_three_pathways.py
  presentation_slides_final/create_distinct_data_types_map.py
  presentation_slides_final/create_johannesburg_map_r.R
  presentation_slides_final/johannesburg_study_distribution_16x9.svg
  presentation_slides_final/johannesburg_study_distribution_16x9_shapefile.svg
  reanalysis_outputs/figures_svg/presentation_ready/shap_three_pathways_real.png
  reanalysis_outputs/figures_svg/presentation_ready/shap_three_pathways_real.svg
Due: check-random-seeds

feat: Improve Johannesburg study distribution map with real GCRO data
  presentation_slides_final/create_johannesburg_map_r.R
  presentation_slides_final/create_johannesburg_map_with_ward_distribution.R
  presentation_slides_final/johannesburg_study_distribution_16x9_shapefile.svg
Due: none

docs: Add comprehensive presentation slides perfection roadmap
  PRESENTATION_SLIDES_ROADMAP.md
Due: none

feat: add refined climate-health analysis pipeline with comprehensive reporting
  PIPELINE_IMPROVEMENTS_2025-10-14.md
  scripts/pipelines/refined_analysis_pipeline.py
Due: check-random-seeds

docs: Add comprehensive slide improvement plan + Johannesburg map
  SLIDE_IMPROVEMENT_PLAN.md
  presentation_slides_final/enbel_johannesburg_study_distribution_final.svg
Due: none

fix: resolve critical bugs in refined pipeline (data leakage, scaling, reproducibility)
  BUG_FIXES_2025-10-14.md
  scripts/pipelines/refined_analysis_pipeline.py
Due: check-random-seeds

feat: complete analysis of all 19 biomarkers with comprehensive reporting
  scripts/pipelines/refined_analysis_pipeline.py
Due: check-random-seeds

docs: initialize LaTeX manuscript structure for climate-health publication
  .gitignore
  manuscript/README.md
  manuscript/main.tex
  manuscript/references.bib
Due: none

fix: eliminate biomarker feature leakage with strict whitelist
  FEATURE_LEAKAGE_FIX_2025-10-14.md
  scripts/pipelines/refined_analysis_pipeline.py
Due: check-random-seeds

feat: Complete all 11 presentation slides with real data
  presentation_slides_final/create_slide_04_temporal_coverage.py
  presentation_slides_final/create_slide_08_shap_analysis.py
  presentation_slides_final/main_presentation/create_all_remaining_slides.py
  presentation_slides_final/main_presentation/create_slide_02_climate_patterns.py
  presentation_slides_final/main_presentation/create_slide_03_dataset_overview.py
  presentation_slides_final/main_presentation/create_slide_04_temporal_coverage.py
  presentation_slides_final/main_presentation/create_slide_06_validation_framework.py
  presentation_slides_final/main_presentation/create_slide_08_shap_cd4.py
  presentation_slides_final/main_presentation/create_slide_12_imputation.py
  presentation_slides_final/main_presentation/slide_02_climate_patterns.png
  presentation_slides_final/main_presentation/slide_02_climate_patterns.svg
  presentation_slides_final/main_presentation/slide_03_dataset_overview.png
  presentation_slides_final/main_presentation/slide_03_dataset_overview.svg
  presentation_slides_final/main_presentation/slide_04_temporal_coverage.png
  presentation_slides_final/main_presentation/slide_04_temporal_coverage.svg
  presentation_slides_final/main_presentation/slide_06_validation_framework.png
  presentation_slides_final/main_presentation/slide_06_validation_framework.svg
  presentation_slides_final/main_presentation/slide_07_feature_discovery.png
  presentation_slides_final/main_presentation/slide_07_feature_discovery.svg
  presentation_slides_final/main_presentation/slide_09_discovery_to_impact.png
  presentation_slides_final/main_presentation/slide_09_discovery_to_impact.svg
  presentation_slides_final/main_presentation/slide_10_international_collaboration.png
  presentation_slides_final/main_presentation/slide_10_international_collaboration.svg
  presentation_slides_final/main_presentation/slide_11_references.png
  presentation_slides_final/main_presentation/slide_11_references.svg
  presentation_slides_final/main_presentation/slide_12_imputation_methodology.png
  presentation_slides_final/main_presentation/slide_12_imputation_methodology.svg
Due: check-random-seeds

docs: add comprehensive feature space analysis across all 19 biomarkers
  COMPREHENSIVE_FEATURE_SPACE_ANALYSIS.md
Due: none

docs: add comprehensive Introduction and Methods sections with rigorous methodology
  manuscript/main.tex
  manuscript/references.bib
  manuscript/sections/introduction.tex
  manuscript/sections/methods.tex
Due: none

feat: implement case-crossover DLNM validation for significant biomarkers
  CASE_CROSSOVER_DLNM_VALIDATION_RESULTS.md
  R/case_crossover_dlnm_validation.R
Due: none

docs: complete manuscript with Results, Discussion, and Conclusions + PDF
  manuscript/main.pdf
  manuscript/main.tex
  manuscript/sections/conclusions.tex
  manuscript/sections/discussion.tex
  manuscript/sections/results.tex
Due: none

refine: Enhance slides to publication-quality scientific standards
  presentation_slides_final/refine_slide_08_shap_publication.py
Due: check-random-seeds

docs: update manuscript with feature leakage fix, clean analysis, and DLNM validation
  manuscript/main.pdf
  manuscript/sections/discussion.tex
  manuscript/sections/results.tex
Due: none

docs: Add comprehensive publication slides summary
  PUBLICATION_SLIDES_SUMMARY.md
Due: none

chore: save current work before branch merging
  FEATURE_LEAKAGE_AUDIT.md
  presentation_slides_final/johannesburg_study_distribution_16x9.svg
  scripts/pipelines/refined_analysis_pipeline_FIXED.py
  scripts/verification/verify_feature_selection.py
Due: check-random-seeds

docs: add comprehensive worktree organization guide with specialized skills
  WORKTREE_GUIDE.md
Due: none

docs: add comprehensive model optimization skills guide
  .claude/MODEL_OPTIMIZATION_SKILLS.md
Due: none

docs: add comprehensive methodology and causal inference skills guide
  .claude/METHODOLOGY_SKILLS.md
Due: none

docs: add comprehensive scientific slide making skills guide
  .claude/SLIDE_MAKING_SKILLS.md
Due: none

feat: comprehensive model refinement planning and leakage prevention
  MODEL_REFINEMENT_PLAN.md
  MODEL_REFINEMENT_SETUP_SUMMARY.md
  configs/model_refinement_config.yaml
  scripts/evaluation/leakage_checker.py
Due: check-random-seeds, validate-config

docs: add comprehensive rigorous methodology framework and Phase 1 guide
  PHASE_1_IMPLEMENTATION_GUIDE.md
  RIGOROUS_METHODOLOGY_FRAMEWORK.md
Due: none

feat: implement breakthrough mixed effects DLNM framework with rigorous statistical validation
  MIXED_EFFECTS_DLNM_RESULTS.md
  R/comprehensive_mixed_effects_dlnm.R
  R/mixed_effects_dlnm.R
  R/test_mixed_effects_dlnm.R
  reanalysis_outputs/mixed_effects_dlnm/Hematocrit_____results.pdf
  reanalysis_outputs/mixed_effects_dlnm/creatinine_umol_L_results.pdf
  reanalysis_outputs/mixed_effects_dlnm/fasting_glucose_mmol_L_results.pdf
  reanalysis_outputs/mixed_effects_dlnm/total_cholesterol_mg_dL_results.pdf
Due: none

fix: CRITICAL - Hematocrit R²=0.961 was units artifact, true R²=0.03
  HEMATOCRIT_SENSITIVITY_ANALYSIS_RESULTS.md
  R/hematocrit_sensitivity_analysis.R
  R/hematocrit_units_correction.R
Due: none

feat: complete Day 1 clinical data quality assessment (Tasks 1.1-1.2)
  DAY_1_RESULTS_SUMMARY.md
  scripts/data_quality/01_clinical_data_inspection.py
  scripts/data_quality/02_biomarker_completeness_analysis.py
Due: check-random-seeds

docs: comprehensive units check reveals cholesterol also has mixed units
  FINAL_CORRECTED_RESULTS_SUMMARY.md
  R/comprehensive_units_check_and_reanalysis.R
Due: none

feat: add publication-quality visualization suite (forest plots, box plots)
  .claude/METHODOLOGY_SKILLS.md
  R/publication_quality_figures.R
  reanalysis_outputs/publication_figures/Figure1_ForestPlot.pdf
  reanalysis_outputs/publication_figures/Figure1_ForestPlot.png
  reanalysis_outputs/publication_figures/Figure2_BoxPlots.pdf
  reanalysis_outputs/publication_figures/Figure2_BoxPlots.png
  reanalysis_outputs/publication_figures/Figure3_BeforeAfter.pdf
  reanalysis_outputs/publication_figures/Figure3_BeforeAfter.png
  reanalysis_outputs/publication_figures/Figure4_SampleSize_vs_EffectSize.pdf
  reanalysis_outputs/publication_figures/Figure4_SampleSize_vs_EffectSize.png
  reanalysis_outputs/publication_figures/Figure5_MultiPanel_Summary.pdf
  reanalysis_outputs/publication_figures/Figure5_MultiPanel_Summary.png
Due: none

feat: finalize clean climate feature set with Option A (core features)
  CLIMATE_FEATURE_DECISION.md
  scripts/data_quality/03_climate_feature_coverage.py
  scripts/data_quality/04_investigate_missing_climate_features.py
  scripts/data_quality/05_finalize_climate_features.py
Due: check-random-seeds

feat: complete Task 2.1 - GCRO dataset inspection with critical finding
  GCRO_DATA_STRUCTURE_ANALYSIS.md
  scripts/data_quality/06_gcro_dataset_inspection.py
Due: check-random-seeds

feat: complete Task 2.2 with critical finding - use 2018 wave (not 2011)
  GCRO_WAVE_COMPARISON_REVISION.md
  scripts/data_quality/07_select_socioeconomic_features.py
Due: check-random-seeds

Path conditions:
  check-random-seeds: any of: \.py$, but not: ^(tests/|archive/|docs/_build/)
  validate-config: any of: configs/.*\.yaml$
  validate-data-schemas: any of: src/.*\.py$
